.tile {
	display: inline-block;
	width: 30px;
	height: 30px;
	// border: 1px dotted orange;
	text-align: center;
	vertical-align: top;
	font-size: 14pt;
}

.tile.dark {
	background: black;
}

.tile-icon.dark {
	display: none;
}

.HUD {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100px;

  .container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .HUD-item {
  	margin-right: 25px;
  }
}

.tilePickerButton {
	display: inline-block;
	margin-right: 5px;
}